<%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %>
<table class="table">
        <tbody>
        <tr>
            <th>name</th>
            <th><%= user.name %></th>
        </tr>
        <tr>
            <th>introduction</th>
            <th><%= user.introduction %></th>
        </tr>
        
        <tr>
            <th>好きな機種</th>
            <th><%= user.favirite_machine %></th>
        </tr>

       
    </tbody>
    </table>

    
    </div>

