<div class="container-fruid">
    <h1>
        <div class="about" style="text-align: center; color: ;">ここはスロットに関する意見交換のためのサイトです。</div>
    </h1>
    <!-- 画像を表示するときは、image_tagを使わないと、rubyとして判断されず本番環境に反映されない。 -->
    <%= image_tag "las-vegas.jpg", class: "about-image"%>
</div>
