// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  

  table td {
    word-break : break-all;
    }

  .head-line{
  background-color: bisque;
  }
  
  .title{
  color:green;
  }

  .top{
  padding: 20px;
  }
  
  .nav-item{
  color: gray;
  }
  
  .nav-list-item{
      list-style: none;
  float:right;
  }

  .about{
    text-align: center;
  }

  .about-text{
    float: inline-start;
  }

  .about-image{
    width:100%;
    margin-bottom: 50px;
  }